.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /*     padding: 20px;
    margin: 5% 5% 0 6%; */
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    margin: 5% 2% 0 2%;
  }
  .table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    height: auto;
    overflow-x: auto;
    font-size: var(--step-0);
  }

  .descColumn {
    display: none;
  }
}

.griditem {
  grid-column: 1 / -1;
}

.textcol {
  margin-bottom: 5%;
}
.paragraph {
  color: var(--colors-grey-60);
  width: 80%;
  max-width: 600px;
  min-width: 300px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  font-size: var(--step-0);
  padding: 10px;
}

.headerCell,
.dataCell {
  padding: 5px;
  text-align: left;
}

.headerCell {
  font-size: var(--step-2);
}

.tableRowEven {
  background-color: var(--colors-brand-beige-10);
}
.lastColumn {
  background-color: var(--colors-brand-orange-70);
  text-align: center;
}

.lastColumn:hover {
  filter: brightness(120%);
  background-color: var(--colors-brand-orange-70);
  text-align: center;
}

.link {
  color: var(--colors-grey-100);
  text-decoration: none;
}

.link:hover {
  filter: brightness(120%);
  text-decoration: underline;
}

.impactCritical {
  color: var(--colors-brand-orange-70);
}

.impactModerate {
  color: var(--colors-brand-yellow-100);
}

.impactMinor {
  color: var(--colors-brand-turquoise-50);
}
